</div> <!-- This closes the .container div -->
<div class="footer-padding"></div>
<footer class="footer">
  <p>Verses Vibez 2024 - All rights reserved</p>
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
