</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Ryan Durand 2021</p>
    <a href="mailto:ryandurand70@gmail.com" style="color:inherit">
      <i class="fas fa-2x fa-envelope footer-icon"></i>
    </a>
    <a href="https://github.com/ryan-durand" target="_blank" style="color:inherit">
      <i class="fab fa-2x fa-github footer-icon"></i>
    </a>
  </div>
</div>
</body>
</html>
