<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Verses Vibez</title>
  <link rel="icon" href="/images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font-Awesome Icons -->
  <script src="https://kit.fontawesome.com/9dd4ebe62f.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <i class="fas fa-pen-nib"></i>
      Verses Vibez
    </div>
    <ul class="navbar-nav">
      <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="/about"><i class="fas fa-info-circle"></i> About Us</a></li>
      <li><a href="/contact"><i class="fas fa-envelope"></i> Contact Us</a></li>
    </ul>
  </nav>
