<%- include('partials/header'); -%>

<main class="container-fluid">
  <h1 class="section-title">Compose</h1>
  <form action="/compose" method="post" enctype="multipart/form-data" class="compose-form">
    <div class="form-group">
      <label for="postTitle" class="form-label">Title</label>
      <input type="text" name="postTitle" class="form-control" id="postTitleControl" required>
    </div>
    <div class="form-group">
      <label for="postBody" class="form-label">Post</label>
      <textarea class="form-control" name="postBody" id="postBodyControl" rows="5" required></textarea>
    </div>
    <div class="form-group">
      <label for="postImage" class="form-label">Attach Image</label>
      <input type="file" name="postImage" class="form-control" id="postImageControl" accept="image/*">
    </div>
    <button type="submit" class="btn btn-submit">Publish</button>
  </form>
</main>

<%- include('partials/footer'); -%>
